<%- include("header") -%>
  <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white navPadding" style="width: 100%;">
  <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
    <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
    <span class="fs-5 fw-semibold">Home of thought</span>
  </a>

  <div class="list-group list-group-flush border-bottom scrollarea">
    
    <% story.forEach(function(eachStory){ %>
        <div class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true" >
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1"> <%=eachStory.title%> </strong>
            <small class="adjustDate"> <%=eachStory.date %> </small>
            
          </div>
          <div class="col-10 mb-1 small"> 
              <%=eachStory.content.substr(0,100)%> <a href= "/note/<%=eachStory._id%>" >...more</a> 

          </div>
            
        </div>    
   <% }) %>
      


  </div>

</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


      <script src="sidebars.js"></script>
  </body>
</html>
